* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --main-color: #e8eef1;
    --secondary-color: #43b0f1;
    --extra-color: #057dcd;
    --font-color: #1e3d58;
    --font-1:'Lexend Deca', sans-serif;
    --font-2: 'Urbanist', sans-serif;
}
html {
    max-width: 100%;
    
}
body {
    background: rgb(30,61,88);
    background: linear-gradient(180deg, rgba(30,61,88,1) 0%, rgba(67,176,241,1) 25%, rgba(232,238,241,1) 100%);
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
header>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoimg {
    width: 22vw;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 14px;
    display: grid;
    grid-template-columns: 4fr 5fr;
    background-color: var(--secondary-color);
    box-shadow: 0 0 6px 1px var(--extra-color);
}


.menuheader {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-2);
    font-size: 2.1vw;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.menuheader>a {
    text-decoration: none;
    color: var(--main-color);
}

.menuheader>a:hover {
    color: var(--extra-color);
    transition: .15s ease-in-out;
}

.menuheader>a:active {
    transform: scale(1.03);
    transition: .04s ease-in-out;
}

.s_inicio, .s_contacto, .s_proyectos {
    height: 100vh;
    width: 100vw;
}

.s_inicio {
    padding-top: 11vh;
    padding-right: 5vw;
    padding-left: 5vw;
    display: grid;
    gap: 3vw;
    align-items: center;
    justify-items: center;
    grid-template-columns: 4fr 4fr;
}

.img_progra {
    height: auto;
    width: 40vw;
    box-shadow: 0 0 12px 5px var(--font-color);
}

.s_inicio>div>h2 {
    font-family: var(--font-2);
    font-weight: 300;
    font-size: 4.8vw;
    color: #e8eef1;
    text-align: center;
}

.s_inicio>div>h2:nth-of-type(2) {
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 5vw;
    color: #e8eef1;
    font-style: italic;
    text-align: center;
}

.s_proyectos {
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.s_proyectos>h2 {
    font-family: var(--font-2);
    font-weight: 300;
    font-size: 5.2vw;
    color: var(--font-color);
    text-align: center;
}
.grid_proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10vw;
}

.grid_proyectos>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid_proyectos>div>p {
    font-family: var(--font-2);
    font-weight: 300;
    font-size: 2.2vw;
    color: var(--font-color);
    text-align: center;
}

.s_contacto {
    padding-top: 10vh;
    padding-right: 5vw;
    padding-left: 5vw;
    display: grid;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 2fr 1fr;
}

.h2_dir {
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 2.5vw;
    color: var(--font-color);
    text-align: center;
    padding-bottom: 25px;
}
.h2_ch {
    font-family: var(--font-2);
    font-weight: 300;
    font-size: 1.8vw;
    color: var(--font-color);
    text-align: center;
    padding-bottom: 25px;
    font-style: italic;
}
.s_contacto>div>h2:nth-of-type(3) {
    font-family: var(--font-2);
    font-weight: 300;
    font-size: 4.4vw;
    color: var(--font-color);
    text-align: center;

}
.map {
    box-shadow: 0 0 12px 1px var(--secondary-color);
    width:41vw;
    height:55vh;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--font-color);
    box-shadow: 0 0 12px 1px var(--font-color);
}

footer>img {
    width: 11vw;
    height: auto;
}